body{
    background: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    font-size: 15px;
}

.footer{
    padding-left: 20px;
    font-size: 9px;
}

.login{
    padding: 1em;
    margin : 2em auto;
    width  : 30em;
    background: #fff;
    border-radius: 3px;
}

.register{
    padding: 1em;
    margin : 2em auto;
    width  : 30em;
    background: #fff;
    border-radius: 3px;
}

label{
    font-size: 10pt;
    color: #555;
}

input[type="text"],
input[type="password"],
textarea {
    padding : 8px;
    width   : 95%;
    background : white;
    border  : 1px black solid;
    border-radius: 2px;
    font-size: 10pt;
    margin  : 6px 0px;
}

input[type="submit"] {
    width : 100px;
}

.btnLogin {
    background : black;
    color : #fff;
    border : 0;
    padding : 5px 8px;
    margin : 20px 0px;
}

.btnReg {
    background : black;
    color : #fff;
    border : 0;
    padding : 5px 8px;
    margin : 20px 0px;
}